<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="showAlert && !closeAlert">
  <p>
    <ngb-alert type ="success" (close)="closealert()" >
        <strong>Warning!</strong>
    </ngb-alert>
  </p>
</div>
<!-- <div class="jumbotron">
    <div class="container"> -->
        <!-- <div class="row">
            <div class="col-md-6 offset-md-3">
                 <h2 class="registerStyle">Register</h2>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': loading && getControls.firstName.errors }" />
                        <div class="invalid-feedback">
                          <div>First Name required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" formControlName="lastName" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" formControlName="email" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" formControlName="password" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>   -->
    <!-- </div>
  </div>   -->

   <!-- <div class="jumbotron">
      <div class="container"> 
              <div class="col-md-6 offset-md-3">
                  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                      <div class="form-group">
                          <label>First Name</label>
                          <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && getControls.firstName.errors }" />
                          <div *ngIf="submitted && getControls.firstName.errors" class="invalid-feedback">
                              <div *ngIf="getControls.firstName.errors.required">First Name is required</div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label>Last Name</label>
                          <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && getControls.lastName.errors }" />
                          <div *ngIf="submitted && getControls.lastName.errors" class="invalid-feedback">
                              <div *ngIf="getControls.lastName.errors.required">Last Name is required</div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label>Email</label>
                          <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && getControls.email.errors }" />
                          <div *ngIf="submitted && getControls.email.errors" class="invalid-feedback">
                              <div *ngIf="getControls.email.errors.required">Email is required</div>
                              <div *ngIf="getControls.email.errors.email">Email must be a valid email address</div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label>Password</label>
                          <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && getControls.password.errors }" />
                          <div *ngIf="submitted && getControls.password.errors" class="invalid-feedback">
                              <div *ngIf="getControls.password.errors.required">Password is required</div>
                              <div *ngIf="getControls.password.errors.minlength">Password must be at least 6 characters</div>
                          </div>
                      </div>
                      <div class="form-group">
                          <button [disabled]="loading" class="btn btn-primary">Register</button>
                      </div>
                  </form>             
          </div>
      </div>
  </div>  -->

  <!-- <div class="container">
      <div class="row">
        <div class="col">
          One of three columns
        </div>
        <div class="col">
          One of three columns
        </div>
        <div class="col">
          One of three columns
        </div>
      </div>
      <div class="row">
          <div class="col">
            One
          </div>
          <div class="col">
            One
          </div>
          <div class="col">
            One
          </div>
        </div>
    </div> -->
    <router-outlet></router-outlet>
<!-- <header></header>
<router-outlet></router-outlet>
<footer></footer> -->
